.container {
  position: fixed;
  top: 0px;
  right: 0px;
  min-width: 250px;
  z-index: 999;
}
.error {
  background-color: rgb(253, 0, 0);
}
.header {
}

.title {
}

.body {
}

.content {
}
