.header {
  padding: 1rem 0;
  height: 55px;
  background-color: rgba(33, 37, 41, 1);
  color: rgba(255, 255, 255, 1);
}
.wrap {
  display: flex;
  justify-content: space-between;

  .user {
    a {
      padding: 1rem;
    }
  }
}
