/* Mixin */
/* Set các giá trị với màn hình tương ứng */
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}
@mixin md {
  @media (max-width: #{$md - 1px}) {
    @content;
  }
}
@mixin lg {
  @media (max-width: #{$lg - 1px}) {
    @content;
  }
}
@mixin xl {
  @media (max-width: #{$xl - 1px}) {
    @content;
  }
}
@mixin xxl {
  @media (max-width: #{$xxl - 1px}) {
    @content;
  }
}
