.dashboard {
  // Header
  .header {
    z-index: 999;
    position: sticky;
    top: 0px;
    padding: 1rem 0;
    height: 55px;
    background-color: rgba(33, 37, 41, 1);
    color: rgba(255, 255, 255, 1);

    .user {
      a {
        padding: 1rem;
      }
    }
  }

  .sidebar {
    background-color: #f8f9fa;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 99;

    padding: 55px 0 0;
    width: 350px;
  }

  .main {
    margin-left: auto;
  }
}
