.authorBox {
  margin-top: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.authorBox .avatar {
  max-width: 100px;
  min-width: 100px;
  margin-right: 15px;
}

.avatar a {
  position: relative;
  display: block;
  border-radius: 50%;
  border: #d20068 solid 2px;
  box-shadow: 0 0 1px 11px rgb(210 0 104 / 15%),
    0 0 1px 22px rgb(210 0 104 / 10%);
}
.avatar img {
  border-radius: 50%;
}
.decription a {
  color: var(--hover-color);
  font-weight: 700;
}
.decription p {
  margin-bottom: 0px;
}
